body {
  overflow-y: hidden;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;        
  padding: 0px;
  width: 400px;
  height: 600px;
  padding: 0px 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
  box-sizing: border-box;        
}
