.control {
  border-radius: 4px;
  transition: background-color 150ms ease;
  
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }
}

.label {
  font-weight: 500;
  font-size: rem(14px);
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);

  [data-expanded] & {
    transform: rotate(180deg);
  }
}